---
layout: default
---

<div class="home">
  <div class="contact-info item">
    <div><a href="mailto:information@ocr.nyc">information@ocr.nyc</a></div>
    <div><a href="https://twitter.com/the_o_c_r" target="_blank">@The_O_C_R</a></div>
  </div>
  <div class="posts-home">
    <div class="item date">
      <p>
        <span class="weekday">Wednesday</span> <span class="date-ordinal">7th</span>,
        <br><span class="month">January</span> <span class="year">2016</span>
        <br>Brooklyn
        <br>NY
        <br>
      </p>
      <p></p>
    </div>
    <p>
      <span class="greeting">Greetings</span>,
    </p>
    <p>
      We are a hybrid research group, working at the intersection of technology, culture and education. 
    </p>
    <p>
      We build user-focused tools, public space interventions and forward-looking prototypes in the service of understanding and humanizing complex data systems.
    </p>
    <p>
      Currently, we’re helping to count elephants in Africa, collect health data in the UK, and prototype the future of the newsroom.
    </p>
    <p>
      In the past you may have caught us 
      {% for post in paginator.posts limit:30 %}
        {% if forloop.last %}
          and <a href="{{ post.url | prepend: site.baseurl }}" class="post {{categories}}">{{ post.summary }}</a>.
        {% else %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="post {{categories}}">{{ post.summary }}</a>,
        {% endif %}
      {% endfor %}
    </p>
    <p>
      The Office for Creative Research is Jer Thorp, Ian Ardouin-Fumat, Noa Younse, Zarah Cabañas, Genevieve Hoffman, Kate Rath, and Sepand Ansari.
    </p>
    <p>
      We are also good at <a href="{{ site.baseurl }}/contact/">answering e-mails</a>, <a href="{{ site.baseurl }}/activity/">posting things on the internet</a>, and <a href="{{ site.baseurl }}/about/">hiring exceptional people</a>.
    </p>
    <p>
      Get in touch with any questions, ideas or possible conspiracies.
    </p>
    <p>
    Warmly,
    <br>
    The Office for Creative Research
    </p>
  </div>

</div>
