<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <a href="{{ site.baseurl }}/" >
      <!--<object data="/OCR_logo.svg" class="site-title"></object>-->
       <img src = "/OCR_logo.svg" class="site-title" onerror="this.src='/apple-touch-icon.png'; this.onerror=null;"></a>
    </a>
    <nav class="site-nav">
      {% include navigation.html %}
    </nav>
    <div class="clearfix"></div>
    {% if site.show_social_icons %}
      {% include social_links.html %}
    {% endif %}
  </div>
</header>
