.slides .slides-credits {
    text-align: left;
    display: block;
    font-size: 0.7em;
    color: gray;
    font-family: "Source Sans Pro", "Arial", sans-serif;
}

.slides img {
	margin: 0 auto;
}

.slideshow ol, ul {
    padding-left: 0rem;
}

.slick-slider {
    margin-bottom: 40px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    background: white;
}

.slick-prev:before, .slick-next:before {
    /*font-family: 'Arial';*/ font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before
{
    opacity: .5;
    color: black;
}

.left {
    float: left;
    padding-right: 3%;
    width: 24%;
}
.right {
    float: right;
    width: 73%;
}
.group:after {
    content:"";
    display: table;
    clear: both;
}

.site-header {
    padding-top: 0rem;
    padding-bottom: 1rem;
}
.px2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.site-header .site-title {
    width: 150px;
    height: 150px;
    background-image: url("../apple-touch-icon.png");
    background-size: contain;
    position: fixed;
}

.mt2 {
    margin-top: 0rem;
}

.item {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 0.8em;
    line-height: 1.4em;
}

.left ol, ul {
    padding-left: 0rem;
    list-style: none;
}

.left li {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 0.8em;
    line-height: 1.4em;
    padding-left: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 480px) {
    .left, 
    .right {
        float: none;
        width: auto;
    }
}

@media screen and (max-width: 1330px) {
     .site-header .site-title {
        position: relative;
    }
}

p {
    color: #333;
    line-height: 1.8;
}

a {
  color: $link-color;
  /*background-image: none;
  text-shadow: white 0px 0px 0px, white 0px 0px 0px;*/
  transition: all 0.1s ease-in;  
}

a:hover,
a:focus,
a:active {
  border: 0;
  color: $link-hover-color;
  text-decoration: none;
  background-color: $ocr-red; /*$bright-yellow;*/
  background-image: none;
  text-shadow: none;
}

.home {
    width: 80%;
    margin: 0 auto;
}

.date {
    /*text-transform: uppercase;*/
    padding-bottom: 20px;
}
.date p {
    font-size: 1em;
    /*color: #A9A9A9;*/
    line-height: 1.4em;
}

.contact-info {
    padding-top: 25%;
/*    padding-left: 40px;
*/    float: left;
    margin: 0 auto;
    width: 12%;
}

.measure {
  margin: 0 auto;
  /*max-width: $measure-width;*/
  width: 88%;
  float: left;
}

.post-header h1, .post-header h4 {
  /*display: inline-block;*/
  padding-top: 0;
}

.PageNavigation {
    /*
    display: inline-block;
    float: right;
    margin-top: 3.3em;
    font-size: 0.95em;
    */

    a:hover {
      color: #000;
    }

    a {
      font-size: 0.8em;
      opacity: 0.9;
      text-decoration: none;
      border: 0;
      background: none;
      text-shadow: 0;
    }
    a:first-child {
      margin-right: 20px;
    }
}

/* carousel btns */

.slick-prev, .slick-next {
    top: 48%;
    width: 50%;
    background: none;
    height: 96%;
    z-index: 10;
}


.slick-next {
  left: 50%;
  
}

.slick-prev {

}

.slick-prev:before, .slick-next:before { opacity: 0 !important; }

/* feed stuff */

#feed {

    a {
        background: none;
    }

    a:hover {
        background: none;
        color: #000;
        text-decoration: underline;

    }

    .lifestream li {
        list-style: none;
        padding: 20px 0px;
        margin-left: 40px;
        position: relative;
    }
    .lifestream li::before {
        content: 'a';
        text-indent: -999px;
        font-size: 8px;
        width: 30px;
        height: 30px;
        left: -40px;
        position: absolute;
        color: #00aced;
    }

    .lifestream-twitter {
        border-bottom: 1px solid #555555;

        
    }
    .lifestream-twitter::before {
        color: #00aced;
        background: url("../images/twitter-icon.png");
        background-size: contain;
        /*border: 1px solid #555555;*/
    }

    .lifestream-tumblr {
        border-bottom: 1px solid #555555;

        
    }
    .lifestream-tumblr::before {
        color: #00aced;
        background: url("../images/tumblr-icon.png");
        background-size: contain;
        /*border: 1px solid #555555;*/
    }

    .lifestream-medium h3 {
        font-weight: normal;
        font-family: inherit;


    }
    .medium-feed-item img {
        width: 100%;
        margin: 10px 0;
    }




}
